<!DOCTYPE html>
<html lang="fr">

<head>
	<title>Black Jack</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<script src="../../server.js"></script>
<!--<script src="js/jquery.min.js"></script>
	<script src="js/popper.min.js"></script> 
	<script src="js/bootstrap.min.js"></script>  -->
</head>

<body>
	<header>
		<h1>
			Black Jack
		<h1>
	</header>

		<div class="jeu_et_actions">

			<div class="jeu">

				<div class="box box-croupier player">

					<h2>Croupier</h2>
					<p class="cards_value"><%= players[0]._cardsValue %></p>
					<p class="player_state"><%= players[0].state %></p>
				
				</div>

				<div class="box box-players"> <!--Div contenant les joueurs-->

					<div class="player">

						<h2><%= players[1]._pseudo %></h2>
						<p><%= players[1]._cardsValue %></p>
						<p><%= players[1].state %></p>

					</div>

					<div class="player">

						<h2><%= players[2]._pseudo %></h2>
						<p><%= players[2]._cardsValue %></p>
						<p><%= players[2].state %></p>

					</div>	

				</div>	

			</div>

			<div class="actions">

				<h2>Actions</h2>
				<p><%= players[i]._pseudo %></p>
				<button onclick="players[i].addCard()">Ajouter une carte</button>
				<button>S'arreter</button>

			</div>
			
		</div>


		<div class="regles"
		>
			<h2>Les règles du jeu : </h2>
			<p>
			La partie oppose individuellement chaque joueur 	contre la banque. <br>
			Le but est de battre le croupier sans dépasser le 	score de 21. <br>
			Dès qu'un joueur fait plus que 21, on dit qu'il « 	brûle » et il perd sa mise initiale. <br><br>

			La valeur des cartes sont les suivantes :<br><br>

			- de 2 à 9 : valeur nominale de la carte ;<br>
			- de 10 au roi (surnommées « bûche »)  : 10 points 	;<br>
			- As : 1 ou 11 points (au choix du joueur).<br><br>

			Un Blackjack est la situation ou le joueur reçoit, 	dès le début du jeu, un As et une buche. <br>
			Si le joueur atteint 21 points avec plus de deux 	cartes, on compte 21 points et non Blackjack.<br>
			</p>

		</div>

	<footer>

		<p>Clément Bonneville & Charlotte Dauge & Cédric Demay</p>
		<p>©LPMN Elbeuf 2022</p>

	</footer>

</body>
</html>

